<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Edit Data Noodles</div>
                    <div class="card-body">
                        <form @submit.prevent="NoodlesUpdate">
                             <div class="form-group">
                                <label>Isi</label>
                                <input type="text" class="form-control" v-model="noodles.isi" placeholder="Masukkan Judul Berita">
                                <div v-if="validation.isi">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.isi[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Harga</label>
                                <input type="text" class="form-control" v-model="noodles.harga" placeholder="Masukkan Isi Berita">
                                <div v-if="validation.harga">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.harga[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Gambar</label>
                                <input type="text" class="form-control" v-model="noodles.foto" placeholder="Masukkan Url Gambar">
                                <div v-if="validation.foto">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.foto[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Judul</label>
                                <input type="text" class="form-control" v-model="noodles.judul" placeholder="Masukkan Link Berita">
                                <div v-if="validation.judul">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.judul[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-md btn-success">Update</button>
                                <button type="reset" class="btn btn-md btn-danger">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                noodles: {},
                validation: []
            }
        },
        created() {
            let uri = `http://localhost:8000/api/noodles/${this.$route.params.id_noodles}`;
            this.axios.get(uri).then((response) => {
                this.noodles = response.data.data;
            });
        },
        methods: {
            NoodlesUpdate() {
                let uri = `http://localhost:8000/api/noodles/update/${this.$route.params.id_noodles}`;
                this.axios.post(uri, this.noodles)
                    .then((response) => {
                        this.$router.push({name: 'noodles'});
                    }).catch(error => {
                    this.validation = error.response.data.data;
                });
            }
        }
    }
</script>