<template>
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Page visits</h3>
                </div>
                <div class="col text-right">
                  <!-- Button trigger modal -->
                  <router-link :to="{ name: 'tambahNoodles' }" class="btn btn-md btn-info"><i class="fas fa-plus"></i> Tambah Data Baru</router-link>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Isi</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Judul</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody >
                    <tr v-for="(noodles, index) in noodles" :key="noodles.id_noodles">
                        <th>{{ index+1 }}</th>
                        <th>{{ noodles.isi }}</th>
                        <th>{{ noodles.harga }}</th>
                        <th>{{ noodles.foto }}</th>
                        <th>{{ noodles.judul }}</th>
                        <th>
                            <router-link :to="{name: 'editNoodles', params: { id_noodles: noodles.id_noodles}}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</router-link>
                            <button @click.prevent="NoodlesDelete(noodles.id_noodles, index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Hapus</button>
                        </th>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                noodles: []
            }
        },
        created() {
            let uri = `http://localhost:8000/api/noodles`;
            this.axios.get(uri).then(response => {
                this.noodles = response.data.data;
            });
        },
        methods: {
            NoodlesDelete(id, index)
            {
                this.axios.delete(`http://localhost:8000/api/noodles/${id}`)
                    .then(response => {
                        this.noodles.splice(index, 1);
                    }).catch(error => {
                    alert('system error!');
                });
            }
        }
    }
</script>