<template>
    <main>
        <header class="row tm-welcome-section">
            <h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
            <p class="col-12 text-center">
                Food is everything we are. It’s an extension of nationalist feeling, ethnic feeling, your personal history, your province, your region, your tribe, your grandma. It’s inseparable from those from the get-go</p>
        </header>
        <div id="app">
            <div class="tm-paging-links">
                <nav>
                    <ul>
                        <li class="tm-paging-item"><a v-on:click="pizzacall()" class="tm-paging-link">Pizza</a></li>
                        <li class="tm-paging-item"><a v-on:click="noodlecall()" class="tm-paging-link">Noodle</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Gallery -->
            <!-- gallery page 2 -->
            <div id="tm-gallery-page-noodle" :class="style_secondpage">
                <div class="tm-gallery-page">	
                    <div v-for="(noodles) in noodles" :key="noodles.id_noodles">
                        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                            <figure>
                                <img :src="noodles.foto" alt="Image " class="img-fluid tm-gallery-img" style="width:400px ; height:320px;"/>
                                <figcaption>
                                        <h4 class="tm-gallery-title">{{noodles.judul}} </h4>
                                        <p class="tm-gallery-description">{{noodles.isi}}</p>
                                        <p class="tm-gallery-price">{{noodles.harga}}</p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                </div> 
            </div>
            <!-- gallery page 1 -->
            <div id="tm-gallery-page-pizza" :class="style_firstpage">
                <div class="tm-gallery-page">
                    <div v-for="(pizza) in pizza" :key="pizza.id_pizza">	
                        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                            <figure>
                                <img :src="pizza.gambar" alt="Image " class="img-fluid tm-gallery-img" style="width:400px ; height:320px;"/>
                                <figcaption>
                                    <h4 class="tm-gallery-title">{{pizza.title}} </h4>
                                    <p class="tm-gallery-description">{{pizza.content}}</p>
                                    <p class="tm-gallery-price">{{pizza.price}}</p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!-- gallery page 1 -->
	</main>
</template>

<script>
    export default {
        data() {
            return {
                pizza:[],
                noodles:[],
                style_firstpage:'show_firstpage',
                style_secondpage:'none_secondpage'
            }
        },
        created() {
            let uri = `http://localhost:8000/api/noodles`;
            this.axios.get(uri).then(response => {
                this.noodles = response.data.data;
            });
            let uri2 = `http://localhost:8000/api/pizza`;
            this.axios.get(uri2).then(response => {
                this.pizza = response.data.data;
            });
        },
        methods: {
            pizzacall: function() {
                this.style_firstpage ='show_firstpage';
                this.style_secondpage='none_secondpage';
                let uri2 = `http://localhost:8000/api/pizza`;
                this.axios.get(uri2).then(response => {
                    this.pizza = response.data.data;
                });
            },
		    noodlecall: function() {
                this.style_firstpage = 'none_firstpage';
                this.style_secondpage='show_secondpage';
			    let uri = `http://localhost:8000/api/noodles`;
                this.axios.get(uri).then(response => {
                    this.noodles = response.data.data;
                });
	        },
        }
    }
</script>