<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Edit Data pizza</div>
                    <div class="card-body">
                        <form @submit.prevent="PizzaUpdate">
                             <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" v-model="pizza.title" placeholder="Masukkan Judul Berita">
                                <div v-if="validation.title">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.title[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Content</label>
                                <input type="text" class="form-control" v-model="pizza.content" placeholder="Masukkan Isi Berita">
                                <div v-if="validation.content">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.content[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Gambar</label>
                                <input type="text" class="form-control" v-model="pizza.gambar" placeholder="Masukkan Url Gambar">
                                <div v-if="validation.gambar">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.gambar[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" class="form-control" v-model="pizza.price" placeholder="Masukkan Link Berita">
                                <div v-if="validation.price">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.price[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-md btn-success">Update</button>
                                <button type="reset" class="btn btn-md btn-danger">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                pizza: {},
                validation: []
            }
        },
        created() {
            let uri = `http://localhost:8000/api/pizza/${this.$route.params.id_pizza}`;
            this.axios.get(uri).then((response) => {
                this.pizza = response.data.data;
            });
        },
        methods: {
            PizzaUpdate() {
                let uri = `http://localhost:8000/api/pizza/update/${this.$route.params.id_pizza}`;
                this.axios.post(uri, this.pizza)
                    .then((response) => {
                        this.$router.push({name: 'pizza'});
                    }).catch(error => {
                    this.validation = error.response.data.data;
                });
            }
        }
    }
</script>