<template>
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Page visits</h3>
                </div>
                <div class="col text-right">
                    <!-- Button trigger modal -->
                    <router-link :to="{ name: 'tambahPizza' }" class="btn btn-md btn-info"><i class="fas fa-plus"></i> Tambah Data Baru</router-link>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Menu</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Url Gambar</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody >
                    <tr v-for="(pizza, index) in pizza" :key="pizza.id_pizza">
                        <th>{{ index+1 }}</th>
                        <th>{{ pizza.title }}</th>
                        <th>{{ pizza.content}}</th>
                        <th>{{ pizza.price }}</th>
                        <th>{{ pizza.gambar }}</th>
                        <th>
                            <router-link :to="{name: 'editPizza', params: { id_pizza: pizza.id_pizza}}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</router-link>
                            <button @click.prevent="PizzaDelete(pizza.id_pizza, index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Hapus</button>
                        </th>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pizza: []
            }
        },
        created() {
            let uri = `http://localhost:8000/api/pizza`;
            this.axios.get(uri).then(response => {
                this.pizza = response.data.data;
            });
        },
        methods: {
            PizzaDelete(id, index)
            {
                this.axios.delete(`http://localhost:8000/api/pizza/${id}`)
                    .then(response => {
                        this.pizza.splice(index, 1);
                    }).catch(error => {
                    alert('system error!');
                });
            }
        }
    }
</script>