<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Tambah Data Pizza</div>
                    <div class="card-body">
                        <form @submit.prevent="PizzaStore">
                            <div class="form-group">
                                <label>title</label>
                                <input type="text" class="form-control" v-model="pizza.title" placeholder="Masukkan Isi ya tas">
                                <div v-if="validation.title">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.title[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>content</label>
                                <input type="text" class="form-control" v-model="pizza.content" placeholder="Masukkan Isi Harga">
                                <div v-if="validation.content">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.content[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Gambar</label>
                                <input type="text" class="form-control" v-model="pizza.gambar" placeholder="Masukkan Url Gambar">
                                <div v-if="validation.gambar">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.gambar[0] }}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" class="form-control" v-model="pizza.price" placeholder="Masukkan judul">
                                <div v-if="validation.price">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.price[0] }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-md btn-success">Simpan</button>
                                <button type="reset" class="btn btn-md btn-danger">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                pizza: {},
                validation: []
            }
        },
        methods: {
            PizzaStore() {
                let uri = 'http://localhost:8000/api/pizza/store';
                this.axios.post(uri, this.pizza)
                    .then((response) => {
                        this.$router.push({
                            name: 'pizza'
                        });
                    }).catch(error => {
                    this.validation = error.response.data.data;
                });
            }
        }
    }
</script>